---
---

@import "{{ site.theme }}";

#acknowledgement {
  max-width: 64rem;
  padding: 2rem 6rem;
  margin: 0 auto;
  font-size: 1.1rem;
  font-style: italic;
}

.page-header {
  background-image: url(/docs/assets/hyack_fire.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.page-header .darken {
  background-color: rgba(0, 0, 0, .5);
}

#content .btn {
  color: #606c71 !important;
  border-color: rgba(0,0,0,0.5) !important;
}

#content .btn:hover {
  color: #606c71 !important;
  border-color: rgba(0,0,0,0.5) !important;
}
