<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <div class="darken">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div id="acknowledgement"><p>Hyack Camp takes place on the unceded and unsurrendered land of the Halkomelem-speaking peoples.</p></div>

    <main id="content" class="main-content" role="main">
      <div class="regBtn">
        <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSffOvBg3dZZ_2bC-GuYIUrgpWtuwuzBfAM4Umm6TElyZi3eSA/viewform?usp=header" class="btn">Join the Registration Notification List</a> -->
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7deK31Z2ixq5MwBZWKNsNH35daAcFQfwJXFoQRCzZexsjyw/viewform?usp=header" class="btn">Register Here</a>
      </div>
      {{ content }}

      <footer class="site-footer">
        <p>We gratefully acknowledge the financial support provided  by the City of New Westminster and their continued support of this annual event.</p>
      </footer>
    </main>
  </body>
</html>
